body {
    font-family: 'Roboto Serif', serif;
    background-color: #AE8799;
    color: white;
}

/*test martin 1337*/
a {
    color: #C95D63;
    text-decoration: underline;
}

a:link {
    color: #717EC3;
}

a:visited {
    color: #496DDB;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .directories {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #FF7B54
}


.directory {
    border-bottom: 3em;
}

.directory .name {
    color: #F3DFC1;
}

.files {
    border-bottom: 1.5em;
}

.file {
    padding-bottom: 0.25em;
}

.extentedProperty {
    display: inline;
}

.extentedProperty span {
    margin-right: 2em;
}

.headerContent {
    font-size: 1.25em;
}

span.headerContentTitle {
    color: #160F29;
}

span.headerContentData {
    color: #F3DFC1;
}

details .file {
    font-size: 0.75em;
    width: 620px;
}

details .file>summary {
    padding: 2px 6px;
    width: 15em;
    background-color: #ddd;
    border: none;
    box-shadow: 3px 3px 4px black;
    cursor: pointer;
}

details .file>p {
    border-radius: 0 0 10px 10px;
    background-color: #ddd;
    padding: 2px 6px;
    margin: 0;
    box-shadow: 3px 3px 4px black;
}
details[open] > summary > a {
    background-color: #717EC3;
    color: #AE8799;
  }